<!DOCTYPE html>
<html>
  <head>
    <title>Add a space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <label for='name'>Name of your Space </label>
      <p>
      <input type="text" name="name" value="">
      </p>
      <label for='description'>Description of Space  </label>
      <p>
      <input type="text" name="description" value="">
      </p>
      <label for='ppn'>Price per night </label>
      <p>
      <input type="text" name="ppn" value="">
      </p>
     <button type="submit" formmethod="post" formaction="/addspace">Save</button>
    </form>
  </body>
</html>
