<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= space.name %> </h2>
    <h3><%= space.description %> </h3>
    <h4>Price per night: <%= space.price_per_night %> pounds</h4>
    <form>
      <button type="submit" formmethod="get" formaction='/spaces'>View Spaces</button>
    </form>
  </body>
</html>
