<!DOCTYPE html>
<html>
  <head>
    <title>Add a space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <label for='name'> Name: </label>
      <p>
      <input type="text" name="name" value="">
      </p>
      <label for='email'> Email: </label>
      <p>
      <input type="email" name="email" value="">
      </p>
      <label for='password'> Password: </label>
      <p>
      <input type="password" name="password" value="">
      </p>
     <button type="submit" formmethod="post" formaction="/users">Sign Up</button>
    </form>
  </body>
</html>
